body {
background-image:"https://www.pexels.com/photo/orange-mason-jar-in-body-of-water-462030/";


 
color: #10eaf5;

  font-family: "New Tegomin", serif;
  display: block;
  margin: 45px auto;}

h1{color: #10eaf5;


}
.units{
font-size: 20;

;
}
.container{
padding-inline-end: 4px green;
font-family: "New Tegomin", serif;
font-size:20px ;
border: rgba(51, 255, 0, 0.836) dotted;
border-radius: 4px;
padding: 60px 50px 60px 50px;
color:#572ca8;
background: linear-gradient(rgb(255, 217, 0), greenyellow, yellowgreen, yellow)}

